# for unity
[Tt]emp/
[Oo]bj/
[Ll]ibrary/
[Bb]uild/
UnityGenerated/

# for VisualStudio/MonoDevelop
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db